:root {
    --background-color: #181818;
    --text-color: #E4E4E4;
    --max-width: 600px;
}

body, html {
    height: 100%;
    margin: 0;
    text-align: left;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 3em auto 0;
}

h1 {
    font-size: 2.4em;
    line-height: 1.2em;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

p {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 1.4em;
    line-height: 1.1em;
    font-weight: 0;
    word-wrap: break-word;
    max-width: 600px;
}


img {
    max-width: 100%;
    height: auto;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Aligns content to the left within the centered container */
    max-width: var(--max-width);
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add some padding */
    border-left: 200px solid var(--border-color); /* Fine line on the left */
    border-right: 100px solid var(--border-color); /* Fine line on the right */
}

.aboutme-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 2.4em;
    line-height: 1.2em;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    max-width: 600px;
    text-align: left;
    color: #E4E4E4;
    line-height: 1.5em;
    font-weight: 610;
}

.separator {
    border: 0;
    height: 2px;
    background-color: #E4E4E4;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
}

/*Ensure the scrollbar is hidden, and thinner, more minimalist.*/
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

/* Hide scrollbar for IE, Edge, and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* For other browsers, make the scrollbar thin and less noticeable */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.paragraph {
    word-wrap: break-word;
    max-width: 600px;
    text-align: left;
    margin: 0 auto;
    color: #E4E4E4;
}

.back-to-home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Aligns content to the left within the centered container */
    max-width: var(--max-width); /* Use the same max-width variable for consistency */
    margin: 0 auto; /* Center the container */
}

.back-to-home-link {
    color: #E4E4E4; /* Adjust the color to fit your design */
    text-decoration: none; /* Remove underline */
    font-size: 1.2em; /* Adjust the font size as needed */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.back-to-home-link:hover {
    color: #4A90E2;
    text-decoration: underline;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1em;
    list-style-type: none;
    max-width: var(--max-width);
    margin: 0 auto;
    word-wrap: break-word;
}

.list li::before {
    content: "• ";
    color: var(--text-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.list li {
    padding: -1em;
    font-size: 1.2em;
    word-wrap: break-word;
}

/* Responsive Design */
@media (max-width: 600px) {
    * {
        width: 95%;
    }
}

@media (max-width: 600px) {
    #flag-fr, #flag-en {
        display: inline-block;
        width: 1em;
    }
}