body, html {
    height: 100%;
    margin: 0;
    text-align: left;
    background-color: #181818;
}
  
.content-container {
    display: flex;
    flex-direction: column; /* This ensures items are stacked vertically */
    justify-content: center;
    align-items: center;
    height: 100%;
    border-left: 200px solid #000; /* Fine line on the left */
    border-right: 100px solid #000; /* Fine line on the right */
}

.main-title {
    max-width: 600px; /* Adjust based on your preference */
    text-align: left;
    margin: 3em auto 0;
    color: #E4E4E4;
    line-height: 1.5em;
}

.other-title {
    max-width: 600px; /* Adjust based on your preference */
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 1em auto 0;
    font-weight: 610;
    color: #E4E4E4;
    font-size: 2.4em;
}

.paragraph {
    word-wrap: break-word; /* Ensures text wraps to avoid overflow */
    max-width: 600px; /* Adjust based on your preference */
    text-align: left;
    margin: 0 auto;
    color: #E4E4E4;
}

.interligne {
    margin-top: -0.5em;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 2.4em;
    line-height: 1.2em;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    max-width: 600px;
    text-align: left;
    margin: 3em auto 0;
    color: #E4E4E4;
    line-height: 1.5em;
    font-weight: 610;
}

#flag-fr {
    cursor: pointer;
    user-select: none;
    display: none;
    transition: transform 0.2s;
    user-select: none;
}

#flag-fr:hover {
    transform: scale(1.1);
}

#flag-en {
    cursor: pointer;
    display:none;
    user-select: none;
    transition: transform 0.2s;
    user-select: none;
}

#flag-en:hover {
    transform: scale(1.1);
}

.projects {
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-width: 600px;
    line-height: 0px;
    margin:auto;
}

.contacts {
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-width: 600px;
    line-height: 0px;
    margin:auto;
}

a.a-hover {
    color: #E4E4E4; /* Initial color */
    text-decoration: underline; /* Removes underline */
    font-weight: 500; /* Makes the link bold */
    transition: color 0.3s ease, transform 0.8s ease; /* Smooth transition for color and transform */
    text-align: center;
    width:100%;
}

a.a-hover:hover {
    color: #186bc5; /* Darker shade on hover */
    text-decoration: underline; /* Add underline on hover for emphasis */
}